<br><br>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<hr>
<br><br>
<app-diretiva-ngif></app-diretiva-ngif> 
<hr>
<br><br>
<app-diretiva-ngfor></app-diretiva-ngfor>
<hr>
<br><br>
<app-diretiva-ngclass></app-diretiva-ngclass>
<hr>
<br><br>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<hr>
<br><br>
<app-operador-elvis></app-operador-elvis>
<hr>
<br><br>
<!-- <app-exemplo-ng-content>
    Conteúdo passado para o componente
</app-exemplo-ng-content> -->

<app-exemplo-ng-content>
    <div class="titulo">Título do painel</div>
    <div class="corpo">Conteúdo passado para o componente</div>
    <div class="corpo">Conteúdo passado para o componente2</div>
    </app-exemplo-ng-content>   

<br><br>
<hr>

    <app-diretivas-customizadas></app-diretivas-customizadas>
